<blockquote>
  <p>Мяу! Новый стажёр пытался сделать подсказки, но не справился. На тебя я могу положиться, разберись, почему скрипт не работает!</p>
</blockquote>

<p>Новостной сайт, над которым мы работали в предыдущих главах (<a href="/courses/343">первая</a>, <a href="/courses/347">вторая</a>), посвящён событиям в IT, и иногда в новостях встречаются малоизвестные названия и сложные понятия. Чтобы посетители не отвлекались на поисковые запросы (ведь в поисковиках, как известно, фотографии котиков), Кекс решил добавить всплывающие подсказки прямо на страницу с новостью.</p>

<p>Слова, которые требуют пояснения, свёрстаны как кнопки c классом <code class="nowrap">tooltip-button</code>:</p>

<pre><code>&lt;button <mark>class="tooltip-button"</mark> type="button"&gt;DogDrones.inc&lt;/button&gt;</code></pre>

<p>При клике на слово-кнопку должно появляться небольшое окошко — попап. Внутри попапа выводится подсказка (по-английски такую подсказку называют <i>tooltip</i>).</p>

<p>Стажёр, который занимался этой задачей, использовал метод <code>querySelector</code>, чтобы найти нужные элементы, и добавил словам-кнопкам обработчики событий <code>onclick</code>. При клике на кнопку попапу добавляется класс <code>opened</code>, и подсказка появляется на странице:

<pre><code>let tooltip = document.querySelector('.tooltip');
let tooltipButton = document.querySelector('.tooltip-button');

tooltipButton.onclick = function () {
  tooltip.classList.add('opened');
};</code></pre>

<p>Если кликнуть по кнопке «Закрыть» внутри попапа, класс <code>opened</code> убирается, и подсказка пропадает со страницы:</p>

<pre><code>let closeButton = document.querySelector('.close-button');

closeButton.onclick = function () {
  tooltip.classList.remove('opened');
};</code></pre>

<p>Все эти инструкции нам уже знакомы, и, кажется, код написан без ошибок. Но босс утверждает, что скрипт не работает. Попробуем разобраться, в чём проблема.</p>
